<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  </head>
  <body>
    <header>
      {% include navbar.html %}
    </header>
    <main>
      {{ content }}
    </main>

    {% raw %}{% if page.mermaid or layout.mermaid %}
      <script defer src="https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js">
      </script>
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
          mermaid.initialize({ startOnLoad: true, theme: prefersDark ? 'dark' : 'default' });
        });
      </script>
    {% endif %}{% endraw %}

    <footer class="parent">
      {% include footer.html %}
    </footer>
    <script src="/assets/js/navigation.js"></script>
  </body>
</html>
